<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('partial/sidebare')%> 
    <div  ></div>
    <img src="<%=code%>" alt="" style="position: relative;
    left: 50%;
    padding-top: 5em;">

    <a href="/factorAuth" style="position: relative;
    left: 50%;
    background: green;
    color: white;
    padding: 6px;
    border-radius: 5px;">next</a>
</div>
</body>
</html>